@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

*{
    box-sizing: border-box ;
    scroll-behavior: smooth;
}
.buscar{
    width: 400px;
    background: #eeeeee00;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.size{
    height: 11.2rem !important;
}
input{
    width: 90%;
    height: 50px;
    padding-left: 20px;
    font-size:22px;
    border:1px solid #ddd;
    margin:15px;
    border-radius:5px;
}

#listaProdutos{
    display: none;   
    width:400px;
    list-style-type: none;
    margin:0;
    padding:0;
    position: absolute;
    top: 50px;
    
}.flex{
    display: flex;
    justify-content: space-around;
}

#listaProdutos li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size:18px;
    color: black;
    border: 1px solid #ddd;
    background: #f6f6f6;
    padding: 10px;
   
}

#listaProdutos li a:hover{
    background: #eee;
}

.item-name{
    margin-left:15px;
}
body{
    background-color:rgb(0, 0, 0) !important;
    background-size: cover;
    background-blend-mode:darken;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 !important;
    margin: 0 !important;
}


/*Barra de navegação*/
header{
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #1b1b1b36; 
    z-index: 100;   
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
   filter:brightness(1.5);
   height: 70px;
   width: 70px;
   margin: 2px 10px 2px 40px;
   position: absolute;
   left:10px;
   top:6px;
}
.login{
    position: absolute;
    top: 25px;
    right:120px;
    text-decoration: none;
    letter-spacing: 1px;
    color: #F0F0F0;
    font-weight: 600;
    font-size: 13px;
}

a .usuario{
    position: absolute;
    right: 10px;
    margin: 2px 40px 2px 10px;
    top: 10px;
    align-items: center;
}
.banner{
    width: 100% !important;
}
.usuario img{
    border-radius: 100%;
    -webkit-border-image: 100%;
    height: 50px;
    width: 50px;
    border: 5px solid white;
    transition: ease-in-out 0.5s;
}
.usuario img:hover{
    transform: scale(1.2);
    border: 1px solid #D41377;
}
.itens{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.itens li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 550;
    color: white;
    letter-spacing: 2px;
    position: relative;
    margin-right:2.5vw;
    margin-left: 2.5vw;
}
.itens input{
    width: 300px;
    border-radius: 500px;
    border: 3px solid #D41377;
    background: transparent;
    color: #D41377;
    padding: 5px 20px 5px 20px;
}
.voltar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 10px;
    top: 10px;
    height: 75px;
    width: 75px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 500px;
    border: 1px solid rgba(77, 29, 29, 0.39);
    transition: all 0.5s;
}
.voltar:hover{
    background-color: #1f1e1e;
}
.carrinho{
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: fixed;
    right: 10px;
    bottom: 10px;
    
    transition: all 0.5s;
    z-index: 100;
}
.carrinho:hover{

    cursor: pointer;
    bottom:15px;

}



/*Classes para efeitos*/

.underline::after{
    content: "";
    height: 5px;
    padding-bottom:1px ;
    width: 0%;
    background-color: #D41377;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.25s ease-in-out;
    z-index: 99;
}

.underline:hover::after{
    content: "";height: 1px;
    width: 100%;
}



/*Primeira Parte do Corpo do site*/
.inicio{
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    height: 50%;
    width: 100%;
    background: rgba(0, 0, 0,0.4);
    background-blend-mode: color;
    z-index: -99;
}
.bg-middle{
    position: absolute;
    right: 0;
    bottom: 0;
    box-shadow: 0px 0px 30vw 24vw rgba(0, 0, 0, 0.95);
    width: 100%;
    background: rgb(0, 0, 0);
    z-index: -99;
}
.bg-video{
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 110% ;
    z-index: -100;
    background: url(../img/backgroundImage.png) no-repeat center;
    background-size: cover;
    filter: contrast(1.05);
}
h1{
    text-align: center;
    color:bisque !important;
    font-size: 5vw !important;
    font-weight: 100 !important;
    margin-bottom: 0;
    font-family: 'Smooch', cursive;
    position: relative;
    top: 70px;
}
h2{
    background-image: linear-gradient(128deg,rgb(255, 0, 0),rgba(0, 38, 255, 0.459));
    -webkit-background-clip:text;
    background-clip: text;
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: calc(1em / 16);
    color: #000000 !important;
    font-size:5vw !important;
    margin-top: 5px;
    letter-spacing: 10px;
    position: relative;
    top: 25px;
}
.bar{
    width: 90%;
    margin-top: 40px;
    height: 2px;
    background-color: #D41377;
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.308);
}



/*Botão Principal(Cardápio)*/
.btn1{

    color: #f0f0f0 !important;
    text-decoration: none;
    font-weight: 700;
    font-size: 35px !important;
    text-align: center ;  
    position: relative !important;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
    align-content:center;
    margin-left: 10px;
}
.btn1::after{
    content: "";
    width: 40px;
    height: 40px;
    border: 3px solid white ;
    border-radius: 100px;
    background-color: transparent ;
    position: absolute;
    left: 0;
    bottom: 5px ;
    transition: 0.5s ease-in-out;
}
.btn1:hover::after{
    width: 100%;
    content: "";
}

/* Segunda Parte do Corpo do site*/
.linha1{
    box-shadow: 0px 0px 100px 100px black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: rgb(233, 222, 210);
    height: 100%;
    padding-bottom: 180px;
}
.white{
    display: flex;
    align-items: center;
    color: beige;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
#Home{
      text-align: center;
      display: flex;
      flex-direction: column;
      text-decoration: none;
}
.fundo{
    position: absolute;
    left: 0;
    z-index: 1;
    margin-top: 80px;
    width: 550px;
    transform: rotate(45deg);
}
.imagem{
    position: absolute;
    left: 0;
    z-index: 3;
    height: 600px;
}
.textbox{
    height: 200px;
    position: relative;
    right:0 ;
    z-index: 10;
    padding-bottom: 500px;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    text-align: center;
    font-weight: 400;
}
.textbox span{
    font-size: 60px;
    font-weight: 500;
}
.textbox .selo{
    margin-top: 20px;
    height: 200px;
    width: 200px;
    
}
.textbox strong
{
 color: rgb(221, 221, 30);
}
.imagemtotal{
    display: flex;
    margin: 0;
}


/* Categorias */
.colapso{
     height: 500px !important;
     width: 630px !important;
     overflow: scroll;
     position: absolute;
     bottom: 0px;
     right: 0px;
}
.content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 450px;
}
.card{
    margin: 5px;
    box-shadow: 0px 0px 10px #1a1919;
    transition: all 0.5s;
}

.content img{
    height: 200px;
}

.card-body{
    background-color: #6e6a6a;
}

.card-title{
    color: #ffffff !important;
}
.size img{
    height: 6rem;
    width: 10rem;
}
.btn{
    background-color: #D41377 !important;
    border:1px solid #D41377 !important;
}
.btn:hover{
    background-color: rgb(1, 1, 71) !important;
    border:1px solid !important; 
    color: yellow !important;
}
.itens{
    display: flex;

}
.card p{
    text-decoration: none !important;
    font-size: 1.3rem;
    color: wheat;
}
.halloween{
    background-color: rgba(128, 0, 128, 0.555) !important;
    color: white !important;
}
/*Rodapé do site*/
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    width: 100%;
    background-image: linear-gradient(90deg black,#1b1b1b) !important;
    color: bisque !important;
}
footer p{
    height: 200px;
    width: 25%;
    text-align: center;
}
.redsociais{
    display: flex;
    justify-content: center;
    height: 300px;
    width: 25%;
    flex-direction: column;
    font-size: 1.3vw;
    padding-left: 50px;
    background-color: #1b1b1b;
}
.redsociais a{
    color: bisque !important;
    letter-spacing: 1px;
    margin:10px auto;
    text-decoration: none;
}
.redsociais a:hover{
    color: #fed90f !important;
}
.espaco{
    width: 30%;
    text-align: center;
    font-family: 'Smooch', cursive;
    font-size: 50px;
}
.redsociais span{
    font-size: 30px;
    font-family:'Smooch', cursive;
}



/*Terceira parte do corpo do site*/
.linha2{
    height: 500px;
    width: 100%;
    background-color: rgb(31, 31, 31);
}







@media screen and (max-width:800px) {
    .itens li a{
        opacity: 0;
    }
    .logo{
        top:10px;
        left: 0;
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }
    .usuario img{
        width: 40px;
        height: 40px;
    }
    .login{
        font-size: 12px !important ;
    }
    .btn1{
        font-size: 5vw !important;
    }
    .btn1::after{
        opacity: 0;
    }
    .btn1{
        margin-left: 0;
    }
    .categorias img{
        height: 50px;
        width: 50px;
        margin: auto;
    }
    .title{
        padding-top: 20% !important;
    }
    h1{
        margin-top: 75% !important;
        font-size: 40px !important;
    }
    h2{
        font-size: 3rem !important;
    }
    #Home{
        margin-top: 100%;
    }
    .bg-video{
        height: 70%;
        
    }
    .textbox{
        background: transparent;
        text-align: center;
        height: 300px;
        width: 250px;
        font-size: 12px;
        right: 0;
        box-shadow: 0px 0px 0px 0px;
        margin-right: 10px !important;
        padding-bottom: 0;
    }
    .textbox span{
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: 500;
    }
    .textbox .selo{
        margin-top: 5px;
        height: 90px;
        width: 110px;
    }
    .categorias span{
        font-size: 3vw;
    }
    .imagem{
        height: 200px;
    }
    .fundo{
        width: 200px;
        margin-top: 20px;
        margin-right: 500px;
    }
    
}
@media screen and (max-width:1200px){
    .login{
        margin-top: 40px;
        bottom: 0;
        right: 25px;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&family=Rock+Salt&display=swap');


body, button, input, textarea {
  font: 400 16px "Roboto", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}


/* sobre.html */
/* Header */
.main-header {
  background-image: url("images/background-image.png");
  background-position: 50% 39%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-nav {
  width: 100%;
}

.header-list-container {
  padding: 16px 0;
}

.nav-item {
  text-transform: uppercase;
  color: var(--white);
  transition: 0.2s;
}

.nav-item:hover {
  color: rgba(255, 255, 255, 0.8);
}

hr {
  width: 100%;
}

.movie-title-large {
  /* text-align: center; */
  font-size: 54px;
}


/* Main */
.main-section {
  padding: 40px 0 64px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 16px
}

.section-title {
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.about-movie-image {
  float: left;
  border-radius: 8%;
  margin: 0 20px 10px 0;
  width: 200px;
  height: auto;
}

.section-description {
  color: #777;
}

.section-description + .section-description {
  margin-top: 16px;
}


/*  Footer  */
.main-footer {
  background: var(--red);
  padding: 16px 0;
}

.main-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-title-medium {
  font-size: 26px;
}

.movie-title {
  font-family: "Rock Salt", cursive;
  color: var(--white);
}

.list-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-item + .footer-item {
  margin-left: 16px;
}

.footer-item img {
  width: 32px;
  height: 32px;
}


/* index.html */
.watch-trailer-button {
  color: var(--white);
  font-weight: bold;
  border: 2px solid var(--red);
  border-radius: 8px;
  padding: 8px 24px;
  background-color: rgba(0, 0, 0, 0.4);

  transition: 0.2s;
}

.watch-trailer-button:hover {
  background: var(--red);
}

.watch-trailer-button-player {
  color: var(--red);
  margin: 24px 0;
  border: 2px solid var(--red);
  border-radius: 50%;
  padding: 12px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.4);

  transition: 0.2s;
}

.watch-trailer-button-player:hover {
  color: var(--white);
  background: var(--red);
}

/* MAIN */
.schedule-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.schedule-item + .schedule-item {
  border-top: 1px solid #333;
  margin-top: 8px;
  padding-top: 8px;
}

.show-date {
  width: 13%;
}

.show-city {
  width: 28%;
}

.show-place {
  width: 35%;
}

.buy-ticket-button {
  width: 20%; /* Ficou faltando 4% para 100% de width: para deixar as bordas sobrando um pouco */
}



/* loja.html */

/* Main */
.normal-section + .normal-section {
  margin-top: 80px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.movie-product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-title {
  font-size: 20px;
  margin-bottom: 6px;
}

.product-image {
  width: 240px; /* Flex wrap coloca 2 posters por linha, pq a seção tem 600px */
  height: 144px;
}

.product-price-container {
  margin-top: 8px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.product-price {
  margin-right: 12px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.button-hover-background {
  background: var(--red);
  color: var(--white);
  border: 2px solid var(--red);
  border-radius: 6px;
  padding: 4px 2px;
  font-weight: bold;

  transition: 0.2s;
}

.button-hover-background:hover {
  background: transparent;
  color: var(--red);
}

/* tabela carrinho de compras */
.cart-table {
  width: 100%;
  border-collapse: collapse;
}

.table-head-item {
  text-align: start;
  border-bottom: 1px solid var(--gray);
  padding-bottom: 6px;
  text-transform: uppercase;
}

.second-col,
.third-col {
  width: 26%;
}

.cart-product td {
  padding: 8px 0;
}

.product-identification {
  display: flex;
  align-items: center;
}

.cart-product-image {
  width: 120px;
  height: 70px;
}

.cart-product-title {
  margin-left: 16px;
  font-size: 18px;
}

.cart-product-price {
  font-family: "Raleway", sans-serif;
}

.product-qtd-input {
  width: 48px;
  height: 34px;
  border-radius: 6px;
  border: 2px solid var(--blue);
  text-align: center;
  background: #eee;
}

.remove-product-button {
  margin-left: 12px;
  background: #ff0000;
  color: var(--white);
  padding: 10px 8px;
  border: 0;
  border-radius: 6px;

  transition: filter 0.2s;
}

.remove-product-button:hover {
  filter: brightness(0.8);
}

.cart-total-container {
  border-top: 1px solid var(--gray);
  text-align: end;
  padding: 6px 16px 0 0;
  font-size: 18px;
}

.cart-total-container strong {
  margin-right: 12px;
}

.purchase-button {
  display: flex;
  margin: 24px auto 0;
  background: var(--blue);
  color: var(--white);
  border: 0;
  border-radius: 6px;
  padding: 16px 20px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;

  transition: filter 0.2s;
}

.purchase-button:hover {
  filter: brightness(0.8);
}



/* Responsividade */
@media (max-width: 584px) {
  .movie-title-large {
    font-size: 36px;
  }

  .schedule-item {
    flex-wrap: wrap;
    text-align: center;
  }

  .schedule-item + .schedule-item {
    margin-top: 12px;
  }

  .show-date,
  .show-place {
    width: 32%;
    padding: 4px;
  }

  .show-city {
    width: 33%;
    padding: 4px;
  }

  .buy-ticket-button {
    width: 60%;
    margin-top: 12px;
    padding: 12px 2px;
  }


  .products-container {
    justify-content: center;
  }

  .product-identification {
    flex-direction: column;
    align-items: flex-start;
  }

  .cart-product-title {
    margin-top: 6px;
  }

  .product-qtd-input {
    display: block;
    margin: 0 auto;
  }

  .remove-product-button {
    display: block;
    margin: 8px auto 0;
  }
}

@media (max-width: 470px) {
  .about-movie-image {
    width: 160px;
  }

  .main-footer-container {
    flex-direction: column;
  }

  .movie-title-medium {
    margin-bottom: 16px;
  }
}