@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');

.voltar{
       display: flex;
       align-items: center;
       justify-content: center;
       position: absolute;
       left: 10px;
       top: 10px;
       height: 75px;
       width: 75px;
       background-color: #fff;
       box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
       border-radius: 500px;
       border: 1px solid black;
   }
   .voltar:hover{
       background-color: #f4f4f4;
   }
   body{
       background: black;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       
   }
   .carousel{
       height: 400px !important;
       width:50%;
       transition: all 0.8s !important;
   }
   .tamanho{
       height: 400px;
       width: 100%;
   }
   .content{
       margin-top: 20px;
       padding-top: 180px;
       padding-bottom: 180px;
       height:30vw;
       width: 100%;
       background: beige;
       display: flex ;
       justify-content: center;
       align-items: center;
       border-bottom: 2px solid #b8b5b5;

   }
   .logo{
       height: 300px;
       width: 300px;

   }
   .logo:hover{
       transform: none;
       box-shadow: none;
   }
   
   .fotospequenas{
       height: 60vw;
       width: 100%;
       background: beige;
       display: flex;
       justify-content: space-around;
       flex-direction: column;
   }
   .linha1,.linha2{
       height: 200px;
       display: flex;
       margin: 5px;
       justify-content: space-around;
   }
   .fotospequenas img{
       height: 400px;
       width: 550px;
       border-radius:5px ;
   }
   .linha2 img{
       height: 300px !important;
       width: 400px !important;
   }
   img{
       transition: all 0.5s;
   }
   img:hover{
       transform: scale(1.1);
       box-shadow: 0px 0px 10px 10px #D41377;
   }
   footer{
display: flex;
align-items: center;
justify-content: space-between;
height: 300px;
width: 100%;
background-image: linear-gradient(90deg black,#1b1b1b) !important;
color: bisque !important;
}
footer p{
height: 200px;
width: 25%;
text-align: center;
}
.redsociais{
display: flex;
justify-content: center;
height: 300px;
width: 25%;
flex-direction: column;
font-size: 1.3vw;
padding-left: 50px;
background-color: #1b1b1b;
}
.redsociais a{
color: bisque !important;
letter-spacing: 1px;
margin:10px auto;
text-decoration: none;
}
.redsociais a:hover{
color: #fed90f !important;
}
.espaco{
width: 30%;
text-align: center;
font-family: 'Italianno', cursive;
font-size: 50px;
}
.redsociais span{
font-size: 30px;
font-family:'Smooch', cursive;
}
.titulo{
font-family: 'Italianno', cursive;
color: bisque;
font-size: 4rem;
}
